extends header
html
  head
  block append links
    style.
      #form1 label{
        display:inline-block;
        width:80px;
      }
      #form1 input{
        margin-bottom:30px;
        height:30px;
      }
      #reg_btn{
        width:60px;
      }
  body
    block append header
      form(action="/registe", method="post",id="form1")
        label(for="reg_user") 用户名:
        input(type="text", name="username", id="reg_user", placeholder="请输入用户名...")
        br
        label(for="reg_pass") 密码:
        input(type="password", name="password", id="reg_pass", placeholder="请输入密码...")
        br
        input(type="submit",value=title,id="reg_btn")
        include ./footer.jade
  