body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav{
  display: flex;
}

nav span{
  display: block;
  height: 30px;
  margin-right: 20px;
}